@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.container {
    background-color: #EEEEEE;
    height: 100vh;
    width: 100vw;
}

.navBar {
    display: flex;
    justify-content: right;
    width: 100vw;
}

.items {
    margin-right: 50px;
    text-decoration: none;
    color: #393E46;
    font-family: 'Bad Script', cursive;
    transform: translate(-10%, -10%);
}

.heading {
    margin-top: 150px;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 150px;
    color: #222831;
}